<a href="https://colab.research.google.com/github/anicelysantos/python-data-wrangling/blob/main/DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
dados = {'nome':	['Argentina','Brasil','França','Itália',
										'Reino	Unido'],
									'continente':	['América','América','Europa','Europa',
																								'Europa'],
									'extensao':	[2780,8511,644,301,244],
									'corVerde':	[0,1,0,1,0]
}

In [3]:
siglas = 	['AR','BR','FR','IT','UK']

In [4]:
paises = pd.DataFrame(dados, index=siglas)

In [ ]:
paises

            nome continente  extensao  corVerde
AR     Argentina    América      2780         0
BR        Brasil    América      8511         1
FR        França     Europa       644         0
IT        Itália     Europa       301         1
UK  Reino\tUnido     Europa       244         0

In [ ]:
paises.shape

(5, 4)

In [ ]:
paises.index

Index(['AR', 'BR', 'FR', 'IT', 'UK'], dtype='object')

In [ ]:
paises.columns

Index(['nome', 'continente', 'extensao', 'corVerde'], dtype='object')

In [ ]:
type(paises)

pandas.core.frame.DataFrame

In [ ]:
paises.dtypes

nome          object
continente    object
extensao       int64
corVerde       int64
dtype: object

In [ ]:
paises.index.dtype

dtype('O')

### Técnicas para consulta e modificação de dados

**Indexação**

In [ ]:
#Primeiro campo é a posição da linha, segundo campo é a posição da coluna
paises.iloc[1][0]

'Brasil'

In [ ]:
paises.iat[1,0]

'Brasil'

In [ ]:
paises.iloc[3]['corVerde']

1

In [ ]:
paises.loc['IT'][1]

'Europa'

In [ ]:
paises.loc['FR']['nome']

'França'

In [ ]:
paises.at['FR','nome']

'França'

In [ ]:
#retorna as informação que estão na coluna passada dentro do campo
paises['extensao']

AR    2780
BR    8511
FR     644
IT     301
UK     244
Name: extensao, dtype: int64

In [ ]:
#Outra maneira de retornar as informações que estão em uma coluna
paises.corVerde

AR    0
BR    1
FR    0
IT    1
UK    0
Name: corVerde, dtype: int64

In [ ]:
#retorna a linha associada a esse índice escrito por extenso
paises.loc['BR']

nome           Brasil
continente    América
extensao         8511
corVerde            1
Name: BR, dtype: object

In [ ]:
#retorna a linha que ocupa essa posição numérica
paises.iloc[2]

nome          França
continente    Europa
extensao         644
corVerde           0
Name: FR, dtype: object

In [ ]:
paises.iloc[:3,:2]

         nome continente
AR  Argentina    América
BR     Brasil    América
FR     França     Europa

In [ ]:
#retorna o valor armazenado na coluna corVerde que tem o rotulo BR e IT
paises.loc[['BR','IT'],'corVerde']

BR    1
IT    1
Name: corVerde, dtype: int64

In [ ]:
#retorna as duas ultimas linhas e as colunas de indice 1 e 2
paises.iloc[-2:,1:3]

   continente  extensao
IT     Europa       301
UK     Europa       244

**Busca**

Testa se um dado rótudo de linha existe

In [ ]:
'BR' in paises.index

True

In [ ]:
'US' in paises.index

False

Testa se um dado rótulo de coluna existe

In [ ]:
'corVerde' in paises.columns

True

In [ ]:
'corAzul' in paises.columns

False

testa se valor faz parte de uma coluna

In [ ]:
paises['nome'].isin(['Brasil'])

AR    False
BR     True
FR    False
IT    False
UK    False
Name: nome, dtype: bool

**Modificação**

In [5]:
#insere o país Japão (JP)
paises.loc['JP'] = {'nome': 'Japão',
                    'continente': 'Ásia',
                    'extensao':372,
                    'corVerde':0}

In [6]:
#altera a extensão do Brasil

paises.at['BR', 'extensao'] = 8512

In [7]:
#remove a Argentina e o Reino Unido
paises = paises.drop(['AR','UK'])

In [8]:
paises

      nome continente  extensao  corVerde
BR  Brasil    América      8512         1
FR  França     Europa       644         0
IT  Itália     Europa       301         1
JP   Japão       Ásia       372         0

### Trabalhando com arquivos

**Importação de arquivo CSV**