<a href="https://colab.research.google.com/github/anicelysantos/python-data-wrangling/blob/main/Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [ ]:
#indice automático do pandas
notas = pd.Series([7.6, 5.0, 8.5, 9.5, 6.4])

In [ ]:
lista_matriculas = ['M02','M05','M13','M14','M19']

In [ ]:
lista_nomes = ['Bob', 'Dayse', 'Bill', 'Cris','Jimi']

In [ ]:
alunos = pd.Series(lista_nomes, index=lista_matriculas)

In [ ]:
#indice pré definido
alunos

In [ ]:
#indice pre definido usando dicionários
dic_alunos = {'M02':'Bob', 'M05':'Dayse', 'M13':'Bill','M14':'Cris','M19':'Jimi'}
alunos = pd.Series(dic_alunos)

**Desmembrando uma série**

In [ ]:
alunos = pd.Series({'M02':'Bob', 'M05':'Dayse', 'M13':'Bill','M14':'Cris','M19':'Jimi'})

In [ ]:
alunos.name = "alunos"

In [ ]:
alunos.index.name ="matrículas"

In [ ]:
alunos

In [ ]:
tamanho = alunos.size
tamanho

In [ ]:
dados = alunos.values
dados

array(['Bob', 'Dayse', 'Bill', 'Cris', 'Jimi'], dtype=object)

In [ ]:
rotulos = alunos.index
rotulos

Index(['M02', 'M05', 'M13', 'M14', 'M19'], dtype='object', name='matrículas')

In [ ]:
alunos_tipo = type(alunos)
alunos_tipo

pandas.core.series.Series

In [ ]:
alunos_dtype = alunos.dtype
alunos_dtype

dtype('O')

In [ ]:
alunos_idx_dtype = alunos.index.dtype
alunos_idx_dtype

dtype('O')

### Técnicas para consulta e modificação de dados

** Indexação boleana**

In [ ]:
#cria a serie notas e alunos
notas = pd.Series([7.6, 5.0, 8.5, 9.5, 6.4])
alunos = pd.Series({'M02':'Bob', 'M05':'Dayse', 'M13':'Bill','M14':'Cris','M19':'Jimi'})

cria um vetor novo pegando apenas os alunos que tem as notas maiores iguais a 7

In [ ]:
#Obtém os indices dos alunos aprovados
idx_aprovados = notas[notas >= 7].index

In [ ]:
#imprime os alunos aprovados
print('relação de alunos aprovados:')
print('----------------------------')
print(alunos[idx_aprovados])

relação de alunos aprovados:
----------------------------
M02     Bob
M13    Bill
M14    Cris
dtype: object

**Busca**

In [ ]:
alunos = pd.Series({'M02':'Bob', 'M05':'Dayse', 'M13':'Bill','M14':'Cris','M19':'Jimi'})


Procurar se algum rótulo está presente dentro da serie

In [ ]:
tem_M13 = 'M13' in alunos
tem_M99 = 'M99' in alunos
print("existe o rótulo 'M13'? -> ", tem_M13)
print("existe o rótulo 'M99'? -> ", tem_M99)

existe o rótulo 'M13'? ->  True
existe o rótulo 'M99'? ->  False
------------------------------------

Procurar se algum valor está presente dentro da serie

In [ ]:
tem_Bob = alunos.isin(['Bob'])
print("existe o valor 'Bob'")
print(tem_Bob)

existe o valor 'Bob'
M02     True
M05    False
M13    False
M14    False
M19    False
dtype: bool

**Modificação**

In [ ]:
#insere	o	aluno	de	matrícula	M55,	Rakesh
alunos['M55'] = 'Rakesh'

In [ ]:
#altera	os	nomes	Bill,	Cris	e	Jimi	para	Billy,	Cristy	e	Jimmy
alunos ['M13'] = 'Billy'
alunos[['M14','M19']] = ['Cristy','Jimmy']

In [ ]:
#remove	o	aluno	de	matrícula	M02	(Bob)
alunos = alunos.drop('M02')
alunos

### Computação Vetorizada

In [ ]:
#iterar sobre os dados
for aluno in alunos:
  print(aluno)

Dayse
Billy
Cristy
Jimmy
Rakesh

In [ ]:
#iterar sobre os indices
for indice in alunos.index:
  print(indice)

M05
M13
M14
M19
M55

In [ ]:
#cria as Series s1 e s2
s1 = pd.Series([2,4,6]) 
s2 = pd.Series([1,3,5])

In [ ]:
#efetuar as operações aritméticas
s1*2

0     4
1     8
2    12
dtype: int64

In [ ]:
s1 + s2

0     3
1     7
2    11
dtype: int64

In [ ]:
#raiz quadrada dos elementos de s1
np.sqrt(s1)

0    1.414214
1    2.000000
2    2.449490
dtype: float64

**O valor NaN**

In [ ]:
verde	=	pd.Series({'BR':1,	'FR':	0,	'IT':1,	'UK':	0})
azul	=	pd.Series({'AR':1,	'BR':1,	'FR':	1,	'IT':0,	'UK':	1})

In [ ]:
soma = verde + azul
soma

AR    NaN
BR    2.0
FR    1.0
IT    1.0
UK    1.0
dtype: float64

In [ ]:
pd.isnull(soma)

AR     True
BR    False
FR    False
IT    False
UK    False
dtype: bool

### Índices Datetime

In [2]:
dias = ['10/02/2019',	'11/02/2019','12/02/2019','13/02/2019',
								'14/02/2019','15/02/2019']

In [3]:
temp_max = [31,35,34,28,27,27]

In [4]:
serie_temporal = pd.Series(temp_max, index=dias)

In [5]:
#converte o tipo de índice para datetime
serie_temporal.index = pd.to_datetime(serie_temporal.index, format = '%d/%m/%Y')

In [6]:
serie_temporal

2019-02-10    31
2019-02-11    35
2019-02-12    34
2019-02-13    28
2019-02-14    27
2019-02-15    27
dtype: int64

### Indexação hierárquica

In [7]:
moedas = ['Peso',	'Real',	'Euro',	'Euro',	'Libra']

In [12]:
paises = [['America','America','Europa','Europa','Europa'],
										['AR','BR','FR','IT','UK']]

In [14]:
paises = pd.Series(moedas, index=paises)

In [15]:
paises

America  AR     Peso
         BR     Real
Europa   FR     Euro
         IT     Euro
         UK    Libra
dtype: object

In [16]:
paises['America']

AR    Peso
BR    Real
dtype: object

In [17]:
paises['Europa']

FR     Euro
IT     Euro
UK    Libra
dtype: object

In [18]:
paises[:,'IT']

Europa    Euro
dtype: object

In [19]:
paises['Europa','IT']

'Euro'